.hidden {
  display: none;
}

.row {
  margin-top: 20px;
}

.centered {
  display: flex;
  justify-content: center;
}

.green {
  color: #21ba45;
}

.ui.steps .step.active .title {
  color: #21ba45;
}

#device-id-dropdown {
  width: 50%;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 5px;
  background: rgb(51, 51, 51);
  border: none;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21ba45;
  margin-top: -4px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: rgb(51, 51, 51);
}
